@import "tailwindcss";
html,
body,
#__next {
  height: 100%;
}

body {
  background-image: url("/Background.jpg");
  background-size: cover;
}


.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #18181b;
}

::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}